<tr>
  <td>
    <%= team.name %>
  </td>
  <td>
    <%= team.league.name %>
  </td>
  <td>
    <%= team.owner.username %>
  </td>
  <td>
    <%= link_to "Show", team %>
  </td>
  <td>
    <%= link_to "Edit", edit_team_path(team) %>
  </td>
</tr>
