<div id="<%= dom_id event %>">
  <h3><%= event.title %></h3>
  <div class = "flex">
    <% if event.banner.attached? %>
      <div class="flex-none bg-gray-300 p-4 m-2">
        <%= image_tag @event.banner, style:"height:200px" if @event.banner.attached? %>
      </div>
    <% end %>
    <div class="flex-none bg-gray-300 p-4 m-2">
      <% if event.season.present? %>
        <p>
          <strong>Season:</strong>
          <%= event.season %>
        </p>
      <% end %>
      
      <% if event.season_start.present? %>
        <p>
          <strong>Season start:</strong>
          <%= event.season_start %>
        </p>
      <% end %>
      
      <% if event.season_end.present? %>
        <p>
          <strong>Season end:</strong>
          <%= event.season_end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
