<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :season, style: "display: block" %>
    <%= form.number_field :season %>
  </div>

  <div>
    <%= form.label :season_start, style: "display: block" %>
    <%= form.date_field :season_start %>
  </div>

  <div>
    <%= form.label :season_end, style: "display: block" %>
    <%= form.date_field :season_end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
