<div id="<%= dom_id show %>">
  <h3><%= show.title %></h3>

  <% if show.season.present? %>
    <p>
      <strong>Season:</strong>
      <%= show.season %>
    </p>
  <% end %>

  <% if show.season_start.present? %>
    <p>
      <strong>Season start:</strong>
      <%= show.season_start %>
    </p>
  <% end %>

  <% if show.season_end.present? %>
    <p>
      <strong>Season end:</strong>
      <%= show.season_end %>
    </p>
  <% end %>
</div>
