<div id="<%= dom_id show %>">
  <p>
    <strong>Title:</strong>
    <%= show.title %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= show.season %>
  </p>

  <p>
    <strong>Season start:</strong>
    <%= show.season_start %>
  </p>

  <p>
    <strong>Season end:</strong>
    <%= show.season_end %>
  </p>

</div>
