<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy League Creator</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "wind", "inter-font", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <div>
        <h1>Fantasy League Creator</h1>
      </div>
      <div id="nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
          <%= link_to "Logout", :logout, method: :post %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </div><br/>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
      <br/><br/>
      <%= yield %>

    <br/><br/><br/><br/>
    <% if current_user %>
      <%= link_to 'Shows', shows_path, class: 'nav-link' %> | 
      <%= link_to 'Users', users_path, class: 'nav-link' %> 
    <% end %>
  </body>
</html>
<%= csrf_meta_tags %>